@model Online_qebula_yazılma.Models.Kochkun_dushduyu_rayon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kochkun_dushduyu_rayon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rayon_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rayon_adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kochkun_rayon_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
